<template>
    <div>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <md-card>
            <md-steppers :md-active-step.sync="active" md-linear>
                <!--first step-->
                <md-step id="first" md-label="Details" :md-done.sync="first">
                    <div class="md-layout md-gutter">
                        <div class="col-xl-12">
                            <div class="md-layout-item">
                                <md-field>
                                    <label for="movie">Project Code/Title</label>
                                    <!--v-model="movie"-->
                                    <md-select name="movie" id="movie">
                                        <md-option value="fight-club">Fight Club</md-option>
                                        <md-option value="godfather">Godfather</md-option>
                                        <md-option value="godfather-ii">Godfather II</md-option>
                                        <md-option value="godfather-iii">Godfather III</md-option>
                                        <md-option value="godfellas">Godfellas</md-option>
                                        <md-option value="pulp-fiction">Pulp Fiction</md-option>
                                        <md-option value="scarface">Scarface</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="md-layout-item">
                                <md-field>
                                    <label for="line">Budget Line</label>
                                    <!--v-model="movie"-->
                                    <md-select name="movie" id="line">
                                        <md-option value="fight-club">Fight Club</md-option>
                                        <md-option value="godfather">Godfather</md-option>
                                        <md-option value="godfather-ii">Godfather II</md-option>
                                        <md-option value="godfather-iii">Godfather III</md-option>
                                        <md-option value="godfellas">Godfellas</md-option>
                                        <md-option value="pulp-fiction">Pulp Fiction</md-option>
                                        <md-option value="scarface">Scarface</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="md-layout-item">
                                <md-field>
                                    <label for="currency">Currency</label>
                                    <!--v-model="movie"-->
                                    <md-select name="movie" id="currency">
                                        <md-option value="fight-club">Fight Club</md-option>
                                        <md-option value="godfather">Godfather</md-option>
                                        <md-option value="godfather-ii">Godfather II</md-option>
                                        <md-option value="godfather-iii">Godfather III</md-option>
                                        <md-option value="godfellas">Godfellas</md-option>
                                        <md-option value="pulp-fiction">Pulp Fiction</md-option>
                                        <md-option value="scarface">Scarface</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <md-field>
                                <label>Project Related KPI(s)</label>
                                <md-input></md-input>
                                <span class="md-helper-text">Helper text</span>
                            </md-field>
                        </div>
                        <div class="col-xl-12">
                            <md-field>
                                <label>Travelling Date(s)</label>
                                <md-input></md-input>
                                <span class="md-helper-text">Helper text</span>
                            </md-field>
                        </div>
                        <div class="col-xl-12">
                            <md-field>
                                <label>Destination</label>
                                <md-input></md-input>
                                <span class="md-helper-text">Helper text</span>
                            </md-field>
                        </div>
                        <div class="col-xl-12"></div>
                    </div>
                    <md-button class="md-raised md-primary" @click="setDone('first', 'second')">Continue</md-button>
                </md-step>

                <!--second step-->
                <md-step id="second" md-label="Activities" :md-error="secondStepError" :md-done.sync="second">
                    <div class="md-layout md-gutter">
                        <div class="activity-header">
                            <md-button @click="addActivity"
                                       class="md-icon-button md-raised md-dense md-primary margin-bottom-10">
                                <md-icon>add</md-icon>
                                <md-tooltip class="md-primary">Add an activity</md-tooltip>
                            </md-button>

                            <div>
                                <h4>Total Estimated Expenditure: <strong>{{estimatedExpenditure}}</strong></h4>
                            </div>
                        </div>
                        <!--an activity-->

                        <div class="col-xl-12" v-for="(activity,index) in form.activities" :id="index">
                            <div class="row">
                                <div class="col-xl-12">
                                    <md-field :id="`activity${index}`">
                                        <label>Estimated Expenditure of Activity</label>
                                        <md-textarea v-model="form.activities[index].activity" type="number"
                                                     md-autogrow></md-textarea>
                                    </md-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-md-11 col-xl-11"
                                     :class="{'col-md-12 col-xl-12 col-xl-12': index === 0}">
                                    <md-field>
                                        <label>Amount</label>
                                        <md-input @input="amountChanged" v-model.number="form.activities[index].amount"
                                                  type="number"></md-input>
                                    </md-field>
                                </div>
                                <div v-if="index > 0" class="col-sm-2 col-md-1 col-xl-1">
                                    <div class="d-flex"
                                         style="flex-direction: column;justify-content: center;height: 100%;">
                                        <md-button @click="removeActivity(index)"
                                                   class="md-icon-button md-dense md-raised md-accent minus-button">
                                            <!--<span class="">-</span>-->
                                            <md-icon class="fa fa-minus"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </div>

                            <span class="md-helper-text"
                                  style="color: #ff5252;font-style: italic;">Fill Out this field</span>
                        </div>
                    </div>

                    <md-button class="md-raised md-primary" @click="setDone('second', 'third')">Continue</md-button>
                    <md-button class="md-raised md-primary" @click="setError()">Set error!</md-button>
                </md-step>

                <md-step id="third" md-label="Third Step" :md-done.sync="third">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="image-container" :class="{'active' : this.dragActive}"
                                 v-cloak
                                 @drop.prevent="addFile"
                                 @dragleave.prevent="onDragLeave"
                                 @dragover.prevent="onDragOver">
                                <img v-if="signature" :src="signatureUrl">
                                <h2 v-if="!signature">Drag and drop signature here</h2>
                            </div>
                        </div>
                    </div>
                    <md-button class="md-raised md-primary" @click="setDone('third')">Done</md-button>
                </md-step>
            </md-steppers>

            <!--<md-card-actions>
                <md-button>Action</md-button>
                <md-button>Action</md-button>
            </md-card-actions>-->
        </md-card>
    </div>
</template>

<script>
    export default {
        name: "create-advance.vue",
        data() {
            return {
                active: 'first',
                first: false,
                second: false,
                third: false,
                secondStepError: null,
                projects: [],
                estimatedExpenditure: 0,
                form: {
                    activities: [
                        {}
                    ]
                },
                signature : null,
                dragActive : false,
                signatureUrl : null
            }
        },
        methods: {
            setDone(id, index) {
                this[id] = true;

                this.secondStepError = null

                if (index) {
                    this.active = index
                }
            },
            setError() {
                this.secondStepError = 'This is an error!'
            },
            addActivity() {
                //necessary checks

                let hasError = false;
                this.form.activities.forEach((activity, index) => {
                    if (!activity.amount || !activity.activity) {
                        //this.$refs[length].classList.add('add-error');
                        $(`#${index}`).addClass('add-error')
                        hasError = true;
                    } else {
                        $(`#${index}`).removeClass('add-error')
                    }
                });

                if (!hasError) {
                    this.form.activities.push({});
                    let length = this.form.activities.length;
                    length -= 1;
                    this.$nextTick(()=>{
                        $(`#activity${length} > textarea`).focus()
                    })
                }
            },
            removeActivity(index) {
                this.form.activities.splice(index, 1);
            },
            amountChanged() {
                this.estimatedExpenditure = 0;
                this.form.activities.forEach(activity => {
                    if (activity.amount && !Number.isNaN(activity.amount)) {
                        this.estimatedExpenditure += activity.amount;
                    }
                })
            },
            addFile(e) {
                let droppedFiles = e.dataTransfer.files;
                if(!droppedFiles)
                    return;
                this.signature = droppedFiles[0];
                this.signatureUrl = URL.createObjectURL(this.signature);
                console.log(this.signatureUrl);
                this.dragActive = false;
            },
            onDragOver(){
                this.dragActive = true;
            },
            onDragLeave(){
                this.dragActive = false;
            }
        },
        computed: {
            activities() {
                return this.form.activities
            }
        },
        watch: {
            activities(val) {
                this.amountChanged();
            }
        }
    }
</script>

<style>
    .minus-button {
        align-self: baseline;
    }

    .activity-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .activity-header > div {
        padding: 8px;
    }

    .add-error {
        border: 1px solid #ff5252;
        padding: 4px;
    }

    span.md-helper-text {
        display: none;
    }

    .add-error > span.md-helper-text {
        display: block;
    }
    .image-container{
        /*styles applied to the div*/
        height: 200px;
        width: 100%;
        border: 2px dotted #cdd6e0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #cdd6e0;
    }
    .image-container.active{
        border: 2px dotted #ffcc00;
    }
    .image-container > h2{
        color: #cdd6e0;
        align-self: center;
    }
    .image-container > img{
        object-fit: cover;
        max-height: 200px;
    }
</style>
