@import url(https://fonts.googleapis.com/css?family=Roboto:500);

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;
.login-panel{
    display: flex;
    justify-content: center;
}
.google-btn {
    cursor: pointer;
    width: 184px;
    height: 42px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    .google-icon-wrapper {
        position: absolute;
        margin-top: -2px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        float: right;
        margin: 11px 11px 0 0;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}

.sign-in-wrapper{
    padding: 20px;
    border-radius: 8px;
    box-shadow: -8px 4px 35px -11px rgba(0,0,0,0.81);
}
