<template>
    <div class="sign-in-wrapper">
        <h3 class="text-center"><strong>Sign In To Solidaridad Forms</strong></h3>
        <div class="login-panel">
            <div @click="onSignIn" class="google-btn">
                <div class="google-icon-wrapper">
                    <img class="google-icon"
                         src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text"><b>Sign in with google</b></p>
            </div>


        </div>
    </div>
</template>

<script>
    export default {
        name: "login",
        data() {
            return {
                googleSignInParams: {
                    client_id: 'YOUR_APP_CLIENT_ID.apps.googleusercontent.com'
                }
            }
        },
        methods: {
            onSignIn() {
                this.$gAuth.signIn()
                    .then(GoogleUser => {
                        let details = {
                            email : GoogleUser.getBasicProfile().getEmail(),
                            avatar : GoogleUser.getBasicProfile().getImageUrl()
                        };
                        axios.post('/login',details)
                            .then(resp => {
                                window.location.href = '/dashboard';
                            })
                            .catch(error => {
                                this.$toastr.e("Your credentials do not match our records","ERROR!");
                            });
                        //make a request to the server
                    })
                    .catch(error => {
                        //on fail do something
                    })
            }
        }
    }
</script>

<style scoped>

</style>
