<template>
<div class="widget">
  <div class="widget-body">
<div>
    <md-steppers>
      <md-step id="first" md-label="First Step">
     <div>
        
          <md-field>
            <label>Activity Title</label>
            <md-input v-model="activitytitle" placeholder="Activity Title"></md-input>
         </md-field>


        <md-field>
          <label for="project">Project</label>
          <md-select v-model="projecttitle" name="project" id="project">
                     <md-option value="fight-club">Fight Club</md-option>
            <md-option value="godfather">Godfather</md-option>
            <md-option value="godfather-ii">Godfather II</md-option>
            <md-option value="godfather-iii">Godfather III</md-option>
            <md-option value="godfellas">Godfellas</md-option>
            <md-option value="pulp-fiction">Pulp Fiction</md-option>
           
          </md-select>
    </md-field>

    
        <md-field>
          <label for="budget">Budget</label>
          <md-select v-model="budget" name="budget" id="budget">
            <md-option value="fight-club">Fight Club</md-option>
            <md-option value="godfather">Godfather</md-option>
            <md-option value="godfather-ii">Godfather II</md-option>
            <md-option value="godfather-iii">Godfather III</md-option>
            <md-option value="godfellas">Godfellas</md-option>
            <md-option value="pulp-fiction">Pulp Fiction</md-option>
           
          </md-select>
    </md-field>

    <div class="row">
        <div class="col-6">
           <md-field>
      <label>Amount Recieved</label>
      <md-input v-model="number" type="number"></md-input>
    </md-field>   
        </div>
        <div class="col-6">
              <md-field>
          <label for="currency">Currencies</label>
          <md-select v-model="currency" name="currency" id="currency">
            <md-option value="fight-club">Fight Club</md-option>
            <md-option value="godfather">Godfather</md-option>
            <md-option value="godfather-ii">Godfather II</md-option>
            <md-option value="godfather-iii">Godfather III</md-option>
            <md-option value="godfellas">Godfellas</md-option>
            <md-option value="pulp-fiction">Pulp Fiction</md-option>
           
          </md-select>
    </md-field> 
        </div>
      
    </div>
       <md-field>
          <label for="approval">To be approved by</label>
          <md-select v-model="approval" name="approval" id="approval">
                     <md-option  value="fight-club"></md-option>
          
           
          </md-select>
    </md-field>
  <div class="row">
      <div class="col-6">
         <md-datepicker v-model="startDate">
      <label>Travelling date</label>
    </md-datepicker> 
      </div>
      <div class="col-6">
              <md-datepicker v-model="endDate">
      <label>Return date</label>
    </md-datepicker>   
      </div>

  </div>
    
  </div>
      </md-step>

      <md-step id="second" md-label="Second Step">
        <div>
        
          <md-field>
            <label>With label</label>
            <md-input v-model="withLabel" placeholder="A nice placeholder"></md-input>
         </md-field>


          <md-field>
            <label>Number</label>
            <md-input v-model="number" type="number"></md-input>
          </md-field>

             <md-field>
          <label for="movie">Movie</label>
          <md-select v-model="movie" name="movie" id="movie">
              
            
          </md-select>
        </md-field>
  </div>
      </md-step>

      <md-step id="third" md-label="Third Step">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias doloribus eveniet quaerat modi cumque quos sed, temporibus nemo eius amet aliquid, illo minus blanditiis tempore, dolores voluptas dolore placeat nulla.</p>
      </md-step>
    </md-steppers>
</div>
</div>
</div>
</template>

<script>
export default {
   props: ['approver'],
   data: () => ({
      selectedDate: null,
      approver:[]
    })

    }
</script>

<style>

</style>
